@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap");

a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.container {
  width: 90%;
  margin: 0 auto;
}
 